.contactData
{
    width:100%;
    text-align:center;
    margin:auto;
    box-shadow: 2px 2px 2px #703b09;
    border:1px solid #ccc;
    padding:20px;
    box-sizing: border-box;
    margin-bottom:10px;

}
@media only screen and (min-width:600px)
{
.contactData{
 
    width:500px;
    height:100%;
}

}