.UnorderedList /*styles for mobile devices*/
{
    display: flex;
  flex-flow: column;
    height:100%;
  margin:0;
  padding:0;
  list-style: none;
    /* box-sizing: border-box; */
}

@media(min-width:500px)
{
  .UnorderedList /*styles for devices with bigger screens*/
  {
flex-flow: row;
  } 
}